main.main-home-wrapper .photos .photo-wrapper {
    display: grid;
    grid-template-rows: 40px 550px 50px 100px;
    grid-gap: 30px;
}

main.main-home-wrapper .photos .photo-wrapper .photo-nav {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
}

main.main-home-wrapper .photos .photo-wrapper .home-photo-nav img {
    height: 24px;
    width: 24px;
}

main.main-home-wrapper .photos .photo-wrapper .home-photo-nav {
    display: grid;
    grid-template-columns: 100px 100px;
    place-items: center;
}

main.main-home-wrapper .photos .photo-wrapper .photo-large img {
    height: 550px;
    width: 550px;
}

main.main-home-wrapper .photos .photo-buttons {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
}

main.main-home-wrapper .photos .photo-buttons .button-group {
    display: grid;
    grid-template-columns: 100px 100px 200px;
    place-items: center;
}

main.main-home-wrapper .photos .photo-buttons .button-group i {
    font-size: 30px;
}

main.main-home-wrapper .photos .photo-comments {
    display: grid;
    grid-template-columns: 150px 350px;
    place-items: center;
    border: none;
    outline: none;
}