main.main-home-wrapper .photos .photo-wrapper {
    display: grid;
    grid-template-rows: 40px 550px 50px auto;
    grid-gap: 30px;
    outline: 2px solid rgb(19, 19, 19) !important;
    height: auto;
}

main.main-home-wrapper .photos .photo-wrapper .photo-nav {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
}

main.main-home-wrapper .photos .photo-wrapper .home-photo-nav img {
    height: 34px;
    width: 34px;
    cursor: pointer;
}

main.main-home-wrapper .photos .photo-wrapper .home-photo-nav span {
    cursor: pointer;
}

.likes {
    cursor: pointer;
}

.userComment {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

main.main-home-wrapper .photos .photo-wrapper .home-photo-nav {
    display: grid;
    grid-template-columns: 100px 100px;
    place-items: center;
}

main.main-home-wrapper .photos .photo-wrapper .photo-large img {
    height: 550px;
    width: 550px;
}

main.main-home-wrapper .photos .photo-buttons {
    display: grid;
    grid-template-columns: 0.8fr 0.2fr;
}

main.main-home-wrapper .photos .photo-buttons .button-group {
    display: grid;
    grid-template-columns: 100px 100px 200px;
    place-items: center;
}

hr {
    padding-left: 30px;
    width: 125%;
    font-size: 3px;
}

main.main-home-wrapper .photos .photo-buttons .button-group i {
    font-size: 30px;
}

main.main-home-wrapper .photos .photo-comments {
    display: grid;
    grid-template: 
    "userCreated caption" 0.2fr
    "viewAll viewAll" 0.2fr
    "comments-group comments-group" auto /
    0.5fr 0.5fr;
    border: none;
    outline: none;
    grid-gap: 30px;
}

.photo-comments .comments-group li.comments-inside-photo {
    display: grid;
    grid-template-columns: 0.2fr 0.7fr 0.1fr;
    grid-gap: 30px;
    display: grid;
    place-items: center;
    padding-left: 40px;
    border-bottom: 1px solid #000;
}

.comments-group {
    grid-area: comments-group;
    display: grid;
    grid-template-rows: 30px;
    grid-gap: 10px;
}

.photo-comments .viewAll {
    grid-area: viewAll;
    color: rgb(71, 71, 209);
    display: grid;
    place-items: center;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    cursor: pointer;
}

.photo-comments .userCreated {
    grid-area: userCreated;
    display: grid;
    place-items: center;
    font-weight: 900;
    font-size: 16px;
    cursor: pointer;
}

.likes {
    color: rgb(49, 49, 209);
}

.photo-comments p {
    grid-area: caption;
    display: grid;
    place-items: center;
}