@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
.photo-wrapper {
  display: grid;
  grid-template-rows: 40px 550px 50px auto;
  grid-gap: 30px;
  /* outline: 2px solid rgb(19, 19, 19) !important; */
  height: auto;
  background-color: whitesmoke;
  border-radius: 5px;
  overflow: hidden;
}

.home-photo-nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding-left: 1rem;
}

.home-photo-nav img {
  height: 34px;
  width: 34px;
  cursor: pointer;
  border-radius: 5px;
}

.home-photo-nav span {
  cursor: pointer;
  font-weight: 600;
}

.likes {
  cursor: pointer;
}

.userComment {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

main.main-home-wrapper .photos .photo-wrapper .photo-large img {
  height: 550px;
  width: 550px;
}

.photo-buttons {
  display: grid;
  grid-template-columns: 50px 70px 100px;
  justify-content: start;
  align-content: center;
  gap: 5px;
}

.button-group {
  display: grid;
  grid-template-columns: 50px 100px 1fr;
  place-items: center;
}

hr {
  padding-left: 30px;
  width: 125%;
  font-size: 3px;
}

.button-group i {
  font-size: 30px;
}

.photo-comments {
  display: grid;
  grid-template:
    "userCreated caption" 0.2fr
    "viewAll viewAll" 0.2fr
    "comments-group comments-group" auto /
    0.5fr 0.5fr;
  border: none;
  outline: none;
  grid-gap: 30px;
}
.comments-inside-photo {
  display: grid;
  grid-template-columns: 0.2fr 0.7fr 0.1fr;
  grid-gap: 30px;
  display: grid;
  place-items: center;
  padding-left: 40px;
  border-bottom: 1px solid #000;
}
.comments-group {
  grid-area: comments-group;
  display: grid;
  grid-template-rows: 30px;
  grid-gap: 10px;
}
.comments-group .userComment {
  font-weight: 500;
}
.viewAll {
  grid-area: viewAll;
  color: rgb(71, 71, 209);
  display: grid;
  place-content: center;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.photo-comments .userCreated {
  grid-area: userCreated;
  display: grid;
  place-items: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}
.likes {
  display: grid;
  place-content: center;
  color: rgb(49, 49, 209);
  font-weight: 500;
}
.photo-comments p {
  grid-area: caption;
  display: grid;
  place-items: center;
}
.homepost-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
