section.profileContainer2-wrapper {
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 0.333fr);
    grid-gap: 50px 10px;
    place-items: center;

    padding-top: 50px;
}

form.form-add-photo {
    display: grid;
    grid-template-rows: repeat(3, 0.33fr);
    grid-gap: 30px;
    place-items: center;
    /* place-content: center; */
}

.form-add-photo input {
    border: none;
    outline: none;
    padding: 30px 10px;
    background-color: rgba(231, 216, 216, 0.904);
}

.form-add-photo button {
    border: none;
    outline: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    background-color: rgba(255, 20, 20, 0.904);
}

section.profileContainer2-wrapper .photo-item {
    display: grid;
    place-items: center;
}

section.profileContainer2-wrapper img {
    height: 300px;
    width: 300px;
}

.not-auth {
    display: grid;
    place-items: center;
}

.not-auth span {
    font-size: 16px;
    color: rgb(241, 71, 71);
    font-weight: 900;
}